<div class="d-flex flex-column justify-content-center align-items-center pt-5">
  <h1 class="">Reels</h1>
  <h3>Welcome to the Course Reels</h3>
  <div class="coursereels-menu">
  <div class="create-button">
  
  <%= link_to "Write & Create", new_course_path, class: "btn btn-lg btn-primary rounded-pill" %>
  </div>
  <div class="Uploadbutton">
  <%= link_to "Upload Video / Audio", new_reel_path, class: "btn btn-lg btn-primary rounded-pill" %>
  </div>
  <div class="Recordbutton">
  <%= link_to "Record Audio", videos_path, class: "btn btn-lg btn-primary rounded-pill" %>
  </div>
  </div>
  <div class="Integrate Youtube Video">
  <%= button_to "Upload to Youtube", user_google_oauth2_omniauth_authorize_path, method: :post, data: { turbo: "false" }, class: "btn btn-lg btn-primary rounded-pill" %>
  </div>
  </div>
  <%= link_to "Sign out", destroy_user_session_path, method: :delete, class: "btn btn-lg btn-primary rounded-pill" %>
</div>
